$lg: 1200px;
$md: 768px;
$sm: 320px;

@mixin breakpoint($point) {
  @if ($point == lg) {
    @media (max-width: $lg) {
      @content;
    }
  } @else if ($point == md) {
    @media (max-width: $md) {
      @content;
    }
  } @else if ($point == sm) {
    @media (max-width: $sm) {
      @content;
    }
  }
}
