$main_blue: #003264;
$dark: #242627;
$gray: #c3c8c8;
$gray2: #e0e0e0;
$gray3: #f7f7f7;
$gray4: #828282;
$gray5: #4f4f4f;
$orange: #e9862a;
$orange2: #dc6d08;
$white: #ffffff;
$blue: #187cd3;
$stroke: #ebebeb;
$border: #f2f2f2;
$border_card: #ededed;
$career_back: #f9f9f9;
$card_text: #646464;

$hover_shadow: 0 17px 46px rgba(0, 0, 0, 0.08);
$hover_shadow_card: 0 4px 52px 0 rgba(0, 0, 0, 0.13);
$hover_shadow_card2: 0 14px 24px rgba(15, 18, 20, 0.1);
